<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"> <!-- 自动补上项目名 -->
		<script th:src="@{/js/common/jquery-3.4.1.min.js}"></script><!-- 先引入JQuery再引入bootstrap -->
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<title>办公自动化系统</title>
	</head>
	<body>
	
		<!-- 导航栏 开始 ⬇️-->
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/index">首页</a>
		    </div>
		
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		      <!-- 每个li是一组按钮 -->
		        <li><a href="#">公文流转</a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">人力资源 <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="/account/list">员工列表</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Separated link</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">One more separated link</a></li>
		          </ul>
		        </li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">系统设置 <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="/manager/accountList">账号列表</a></li>
		            <li><a href="/manager/roleList">角色管理</a></li>
		            <li><a href="/manager/permissionList">权限管理</a></li>
		          </ul>
		        </li>
		      </ul>
		      <form class="navbar-form navbar-left">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="请输入员工姓名或者工号">
		        </div>
		        <button type="submit" class="btn btn-default">搜索</button>
		      </form>
		      
		      <ul th:if="${session.account} == null" class="nav navbar-nav navbar-right">
		      	<!-- 未登录用户 -->
		        <li><a href="/account/register">注册</a></li>
		        <li><a href="/account/login">登录</a></li>
		      </ul>
		      
		      <ul th:if="${session.account} != null" class="nav navbar-nav navbar-right">
		        <!-- 已登录用户 ⬇️-->
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		          	欢迎你，[[${session.account.username}]] <span class="caret"></span><span class="badge">666</span><!-- 这个略酷 --></a>
		          <ul class="dropdown-menu">
		            <li><a href="/account/profile">个人信息</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="/account/logout">退出登录</a></li>
		          </ul>
		        </li>
		        <!-- 已登录用户 ⬆️-->
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<!-- 导航栏 结束 ⬆️-->
		<h1>帐号管理</h1>
		<!-- 用户列表 开始 ⬇️-->
		<table class="table table-hover">
		
			<tr>
				<th>序号</th>
				<th>ID</th>
				<th>Userame</th>
				<th>Password</th>
				<th>Age</th>
				<th>NickName</th>
				<th>Location</th>
				<th>Role</th>
				<th>操作</th>
			</tr>
			<tbody>
				<tr th:each="account : ${page.list}"> 
					<td>[[${accountStat.count}]]</td>
					<!-- 或者：td标签里面写：th:text="${status.count}" -->
					<td th:text="${account.id}"></td> <!-- Account 会以反射的方法调用getters，所以必须得写get方法 -->
					<td th:text="${account.username}"></td>
					<td th:text="${account.password}"></td>
					<td th:text="${account.age}"></td>
					<td th:text="${account.nickName}"></td>
					<td th:text="${account.location}"></td>
					<td th:text="${account.role}"></td>
					<td th:if="${session.account.role} == 'admin'">
						<a class="btn btn-danger" th:href="@{'javascript:deleteById(' + ${account.id} + ');'}">删除</a> 
						<a class="btn btn-info" th:href="@{'javascript:changePassword(' + ${account.id} + ',\'' + ${account.username} + '\');'}">修改密码</a> 
						<a class="btn btn-info" th:href="@{'/manager/accountRoles/' + ${account.id}}">设定角色</a> 
					</td>
					<td th:if="${session.account.role} != 'admin'">
						<a class="btn btn-danger" disabled>删除</a> 
						<a class="btn btn-info" disabled>修改密码</a> 
						<a class="btn btn-info" disabled>设定角色</a> 
					</td>
				</tr> <!-- "${}" 表示的是从scope动态取值 -->
			</tbody>
		</table>
		<!-- 用户列表 结束 ⬆️-->
		<nav aria-label="Page navigation">
		  <ul class="pagination">
		    <li th:class="${!page.hasPreviousPage} ? 'disabled' : ''"><!--  自己试出来的 sweet,!写在里面跟外面是一样的 -->
		      <a th:href="${!page.hasPreviousPage} ? 'javascript:void(0)' : @{'/account/list?pageNum=' + ${page.prePage}}" aria-label="Previous"> <!-- 用'javascript:void(0)'代替'#',是为了避免点击之后从最下面跳到最上面，虽然不翻页 -->
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <li th:each="pageNum : ${page.navigatepageNums}">
		    	<a th:href="@{'/account/list?pageNum=' + ${pageNum}}">[[${pageNum}]]</a>  <!-- 直接加${pageNum}不行，静态的部分和动态的部分要用 + 连接才可以 -->
		    </li>
		    <li th:class="${!page.hasNextPage} ? disabled : ''">
		      <a th:href="${!page.hasNextPage} ? 'javascript:void(0)' : @{'/account/list?pageNum=' + ${page.nextPage}}" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
		
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">修改密码</h4>
                </div>
                <div class="modal-body">
					<div class="form-group" hidden="true">
                        <label for="txt_departmentname">ID</label>
                        <input type="text" name="id" class="form-control" id="id" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="txt_departmentname">Username</label>
                        <input type="text" name="username" class="form-control" id="username" disabled placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="txt_departmentname">新密码</label>
                        <input type="text" name="newPassword" class="form-control" id="newPassword" placeholder="新密码">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal" th:onclick="@{'javascript:confirmChangePassword();'}">保存</button>
                </div>
            </div>
        </div>
    </div>
		
		<script type="text/javascript">
			function deleteById(id) {
				if (!confirm("确定要删除用户ID = " + id + "吗？")) {
					return;
				}
				// 去访问一个带有JSON ResponseStatus类型的结果的controller就行了，@ResponseBody
				// 不用ajax的话会造成页面的跳转
				var url = "/account/delete";
				var args = {id:id};
				$.post (url, args, function(data) {
					console.log(data);
					if (data.code == 200) {
						window.location.reload();//刷新页面
					} else {
						alert(data.message);
					}
				});
			}
			
			function changePassword(id, username) {
				$('#myModal').modal();
				$('#id').val(id);
				$('#username').val(username);
				$('#newPassword').val('');
			}
			
			function confirmChangePassword() {
				var id = $('#id').val();
				var newPassword = $('#newPassword').val();
				var url = "/account/updatePasswordById";
				var args = {id:id, newPassword:newPassword};
				$.post (url, args, function(data) {
					console.log(data);
					if (data.code == 200) {
						window.location.reload();//刷新页面
					} else {
						alert(data.message);
					}
				}); 
			}
			
			function setRoles (id) {
				var url =  "/account/accountRoles";
				var args = {id:id};
			}
		</script>
	</body>
</html>