<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"> <!-- 自动补上项目名 -->
		<script th:src="@{/js/common/jquery-3.4.1.min.js}"></script><!-- 先引入JQuery再引入bootstrap -->
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<title>办公自动化系统</title>
	</head>
	<body>
	
		<!-- 导航栏 开始 ⬇️-->
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/index">首页</a>
		    </div>
		
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		      <!-- 每个li是一组按钮 -->
		        <li><a href="#">公文流转</a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">人力资源 <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="/account/list">员工列表</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Separated link</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">One more separated link</a></li>
		          </ul>
		        </li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">系统设置 <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="/manager/accountList">账号列表</a></li>
		            <li><a href="/manager/roleList">角色管理</a></li>
		            <li><a href="/manager/permissionList">权限管理</a></li>
		          </ul>
		        </li>
		      </ul>
		      <form class="navbar-form navbar-left">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="请输入员工姓名或者工号">
		        </div>
		        <button type="submit" class="btn btn-default">搜索</button>
		      </form>
		      
		      <ul th:if="${session.account} == null" class="nav navbar-nav navbar-right">
		      	<!-- 未登录用户 -->
		        <li><a href="/account/register">注册</a></li>
		        <li><a href="/account/login">登录</a></li>
		      </ul>
		      
		      <ul th:if="${session.account} != null" class="nav navbar-nav navbar-right">
		        <!-- 已登录用户 ⬇️-->
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		          	欢迎你，[[${session.account.username}]] <span class="caret"></span><span class="badge">666</span><!-- 这个略酷 --></a>
		          <ul class="dropdown-menu">
		            <li><a href="/account/profile">个人信息</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="/account/logout">退出登录</a></li>
		          </ul>
		        </li>
		        <!-- 已登录用户 ⬆️-->
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<!-- 导航栏 结束 ⬆️-->
		<h1><span th:text="${permission} == null ? 添加权限 : 修改权限"></span></h1>
		<form id="p">
		<input type="text" id="id" name="id" th:value="${permission} == null ? '' : ${permission.id}" hidden="true"/>
		权限名称：<input type="text" name="name" th:value="${permission} == null ? '' : ${permission.name}"/><br />
		URI： <input type="text" name="uri" th:value="${permission} == null ? '' : ${permission.uri}"/><br />
		<!-- 根据当前的permission状态确定复选框是否被勾选 -->
		权限：<input id="c" type="checkbox" th:checked="${permission} == null ? false : ${permission.c}">创建 
		     <input id="r" type="checkbox" th:checked="${permission} == null ? false : ${permission.r}">读取
		     <input id="u" type="checkbox" th:checked="${permission} == null ? false : ${permission.u}">更新
		     <input id="d" type="checkbox" th:checked="${permission} == null ? false : ${permission.d}">删除
		     <a class="btn btn-danger" href="javascript:submit()">提交</a>
		</form>
		<script type="text/javascript">
			function submit() {
				var formObject = {};
				// 没有复选框的可以 var data = $("#p").serialize();直接获得JSON对象。但是复选框name不起作用，所以要转成JSONArray
				var data = $("#p").serializeArray();
				$.each(data, function(i, item){
					formObject[item.name] = item.value; //name和value就是取的input中的值
				});
				formObject["c"] = $("#c").is(":checked");
				formObject["r"] = $("#r").is(":checked");
				formObject["u"] = $("#u").is(":checked");
				//formObject["d"] = $("#d").attr("checked") != null;
				formObject["d"] = $("#d").is(":checked"); // 这么写跟上面的写法一样效果
				
				var id = $("#id").val();
				var url = id == '' || id == undefined || id == null ? "/api/v1/manager/permission/add" : "/api/v1/manager/permission/update"; //这里不能写$("#id").val() == null否则
				// 不能用下面多行注释中的代码，因为$.post提交的编码是'application/x-www-form-urlencoded;charset=UTF-8'
				// 后端不支持，会报HttpMediaTypeNotSupportedException异常
				/*
				$.post(url, formObject, function(data) {
					console.log(data);
				});
				*/
				console.log(formObject);
				// 发送JSON data 到RestController：https://blog.csdn.net/Ditto_zhou/article/details/73198886
				// https://blog.csdn.net/ailo555/article/details/48859425
				$.ajax({
					type:'POST',
					url:url,
					data:JSON.stringify(formObject),  // 这里转成字符串，在controller里@RequestBody参数在直接转换成目标Entity类,Controller里面用了Jackson来parse
					success:function(data) {
						console.log("Success: " + JSON.stringify(data));
					},
					error:function(data) { //返回只不是200都会进到这里
						console.log("Error: " + data);
					},
					contentType:'application/json;charset=utf-8',//其中;charset=utf-8可以不写
					dataType:'json'
				});
				window.location.href="/manager/permissionList";
			}
		</script>
	</body>
</html>